@page "/components/alerts"
@inject IJSRuntime JS

<PageTitle>Alerts</PageTitle>
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="alert-triangle"></i></div>
                        Alerts
                    </h1>
                    <div class="page-header-subtitle">Alert components to add special emphasis to select content</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <!-- Style Reference-->
        <div class="col-lg-9">
            <!-- Default Bootstrap Alerts-->
            <div id="default">
                <div class="card mb-4">
                    <div class="card-header">Default Bootstrap Alerts</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="alert alert-primary" role="alert">A primary alert—check it out!</div>
                                <div class="alert alert-secondary" role="alert">A secondary alert—check it out!</div>
                                <div class="alert alert-success" role="alert">A success alert—check it out!</div>
                                <div class="alert alert-danger" role="alert">A danger alert—check it out!</div>
                                <div class="alert alert-warning" role="alert">A warning alert—check it out!</div>
                                <div class="alert alert-info" role="alert">A info alert—check it out!</div>
                                <div class="alert alert-light" role="alert">A light alert—check it out!</div>
                                <div class="alert alert-dark mb-0" role="alert">A dark alert—check it out!</div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="alertsDefaultTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="alertsDefaultHtmlTab" data-bs-toggle="tab" href="#alertsDefaultHtml" role="tab" aria-controls="alertsDefaultHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="alertsDefaultPugTab" data-bs-toggle="tab" href="#alertsDefaultPug" role="tab" aria-controls="alertsDefaultPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="alertsDefaultHtml" role="tabpanel" aria-labelledby="alertsDefaultHtmlTab">
                                        <pre class="language-markup"><code>@(@"<div class=""alert alert-primary"" role=""alert"">
                                                                                   A primary alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-secondary"" role=""alert"">
                                                                                   A secondary alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-success"" role=""alert"">
                                                                                   A success alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-danger"" role=""alert"">
                                                                                   A danger alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-warning"" role=""alert"">
                                                                                   A warning alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-info"" role=""alert"">
                                                                                   A info alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-light"" role=""alert"">
                                                                                   A light alert—check it out!
                                                                               </div>
                                                                               <div class=""alert alert-dark"" role=""alert"">
                                                                                   A dark alert—check it out!
                                                                               </div>")</code></pre>
                                    </div>
                                    <div class="tab-pane" id="alertsDefaultPug" role="tabpanel" aria-labelledby="alertsDefaultPugTab">
                                        <pre class="language-pug"><code>.alert.alert-primary(role='alert')
    | A primary alert—check it out!
.alert.alert-secondary(role='alert')
    | A secondary alert—check it out!
.alert.alert-success(role='alert')
    | A success alert—check it out!
.alert.alert-danger(role='alert')
    | A danger alert—check it out!
.alert.alert-warning(role='alert')
    | A warning alert—check it out!
.alert.alert-info(role='alert')
    | A info alert—check it out!
.alert.alert-light(role='alert')
    | A light alert—check it out!
.alert.alert-dark(role='alert')
    | A dark alert—check it out!</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">Bootstrap's default state-specific alert styles have been styled to fit the SB Admin Pro theme.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap Alerts Content-->
            <div id="content">
                <div class="card mb-4">
                    <div class="card-header">Alert Content Styling</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
                                    <h5 class="alert-heading">Alert Heading</h5>
                                    This alert example has an alert heading, an alert link, and is dismissible!
                                    <a class="alert-link" href="#!">Example alert link!</a>
                                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="alertsContentTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="alertsContentHtmlTab" data-bs-toggle="tab" href="#alertsContentHtml" role="tab" aria-controls="alertsContentHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="alertsContentPugTab" data-bs-toggle="tab" href="#alertsContentPug" role="tab" aria-controls="alertsContentPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="alertsContentHtml" role="tabpanel" aria-labelledby="alertsContentHtmlTab">
                                        <pre class="language-markup"><code>@(@"<div class=""alert alert-primary alert-dismissible fade show"" role=""alert"">
                                                                                   <h5 class=""alert-heading"">Alert Heading</h5>
                                                                                   This alert example has an alert heading, an alert link, and is dismissible! <a class=""alert-link"" href=""#!"">Example alert link!</a>
                                                                                   <button class=""btn-close"" type=""button"" data-bs-dismiss=""alert"" aria-label=""Close""></button>
                                                                               </div>")</code></pre>
                                    </div>
                                    <div class="tab-pane" id="alertsContentPug" role="tabpanel" aria-labelledby="alertsContentPugTab">
                                        <pre class="language-pug"><code>.alert.alert-primary.alert-dismissible.fade.show(role='alert')
    h5.alert-heading Alert Heading
    | This alert example has an alert heading, an alert link, and is dismissible! 
    a.alert-link(href='#!') Example alert link!
    button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                <p>
                                    By default, Bootstrap styles the content within alerts. Use
                                    <code>.alert-heading</code>
                                    to style a heading within an alert,
                                    <code>.alert-link</code>
                                    to style a link within an alert, or you can use the dismissible option by using the
                                    <code>data-bs-dismiss='alert'</code>
                                    data attribute.
                                </p>
                                <p class="mb-0">
                                    Learn more about dismissing Bootstrap alerts in the
                                    <a target="_blank" href="https://getbootstrap.com/docs/4.4/components/alerts/#dismissing">Bootstrap alerts component documentation</a>
                                    .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Custom Icon Alerts-->
            <div id="icons">
                <div class="card mb-4">
                    <div class="card-header">Custom Icon Alerts</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="alert alert-primary alert-icon" role="alert">
                                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <div class="alert-icon-aside"><i class="far fa-flag"></i></div>
                                    <div class="alert-icon-content">
                                        <h6 class="alert-heading">Primary Icon Alert</h6>
                                        This alert uses an icon from Font Awesome!
                                    </div>
                                </div>
                                <div class="alert alert-secondary alert-icon mb-0" role="alert">
                                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <div class="alert-icon-aside"><i data-feather="feather"></i></div>
                                    <div class="alert-icon-content">
                                        <h6 class="alert-heading">Danger Icon Alert</h6>
                                        This alert uses an icon from Feather Icons!
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="alertsIconsTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="alertsIconsHtmlTab" data-bs-toggle="tab" href="#alertsIconsHtml" role="tab" aria-controls="alertsIconsHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="alertsIconsPugTab" data-bs-toggle="tab" href="#alertsIconsPug" role="tab" aria-controls="alertsIconsPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="alertsIconsHtml" role="tabpanel" aria-labelledby="alertsIconsHtmlTab">
                                        <pre class="language-markup"><code>@(@"<div class=""alert alert-primary alert-icon"" role=""alert"">
                                                                                   <button class=""btn-close"" type=""button"" data-bs-dismiss=""alert"" aria-label=""Close""></button>
                                                                                   <div class=""alert-icon-aside"">
                                                                                       <i class=""far fa-flag""></i>
                                                                                   </div>
                                                                                   <div class=""alert-icon-content"">
                                                                                       <h6 class=""alert-heading"">Primary Icon Alert</h6>
                                                                                       This alert uses an icon from Font Awesome!
                                                                                   </div>
                                                                               </div>
                                                                               <div class=""alert alert-secondary alert-icon"" role=""alert"">
                                                                                   <button class=""btn-close"" type=""button"" data-bs-dismiss=""alert"" aria-label=""Close""></button>
                                                                                   <div class=""alert-icon-aside"">
                                                                                       <i data-feather=""feather""></i>
                                                                                   </div>
                                                                                   <div class=""alert-icon-content"">
                                                                                       <h6 class=""alert-heading"">Danger Icon Alert</h6>
                                                                                       This alert uses an icon from Feather Icons!
                                                                                   </div>
                                                                               </div>")</code></pre>
                                    </div>
                                    <div class="tab-pane" id="alertsIconsPug" role="tabpanel" aria-labelledby="alertsIconsPugTab">
                                        <pre class="language-pug"><code>.alert.alert-primary.alert-icon(role='alert')
    button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')
    .alert-icon-aside
        i.far.fa-flag
    .alert-icon-content
        h6.alert-heading Primary Icon Alert
        | This alert uses an icon from Font Awesome!
.alert.alert-secondary.alert-icon(role='alert')
    button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')
    .alert-icon-aside
        i(data-feather='feather')
    .alert-icon-content
        h6.alert-heading Danger Icon Alert
        | This alert uses an icon from Feather Icons!</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">The custom icon alert option allows you to use icons within alerts for additional context. Use icons from either Font Awesome or Feather Icons!</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Custom Solid Alerts-->
            <div id="solid">
                <div class="card mb-4">
                    <div class="card-header">Custom Solid Alerts</div>
                    <div class="card-body">
                        <!-- Component Preview-->
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="alert alert-primary alert-solid" role="alert">This is a solid, primary alert!</div>
                                <div class="alert alert-secondary alert-solid" role="alert">This is a solid, secondary alert!</div>
                                <div class="alert alert-success alert-solid" role="alert">This is a solid, success alert!</div>
                                <div class="alert alert-danger alert-solid" role="alert">This is a solid, danger alert!</div>
                                <div class="alert alert-warning alert-solid" role="alert">This is a solid, warning alert!</div>
                                <div class="alert alert-info alert-solid" role="alert">This is a solid, info alert!</div>
                                <div class="alert alert-light alert-solid" role="alert">This is a solid, light alert!</div>
                                <div class="alert alert-dark alert-solid mb-0" role="alert">This is a solid, dark alert!</div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="alertsSolidTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="alertsSolidHtmlTab" data-bs-toggle="tab" href="#alertsSolidHtml" role="tab" aria-controls="alertsSolidHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="alertsSolidPugTab" data-bs-toggle="tab" href="#alertsSolidPug" role="tab" aria-controls="alertsSolidPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="alertsSolidHtml" role="tabpanel" aria-labelledby="alertsSolidHtmlTab">
                                        <pre class="language-markup"><code>@(@"<div class=""alert alert-primary alert-solid"" role=""alert"">This is a solid, primary alert!</div>
                                                                               <div class=""alert alert-secondary alert-solid"" role=""alert"">This is a solid, secondary alert!</div>
                                                                               <div class=""alert alert-success alert-solid"" role=""alert"">This is a solid, success alert!</div>
                                                                               <div class=""alert alert-danger alert-solid"" role=""alert"">This is a solid, danger alert!</div>
                                                                               <div class=""alert alert-warning alert-solid"" role=""alert"">This is a solid, warning alert!</div>
                                                                               <div class=""alert alert-info alert-solid"" role=""alert"">This is a solid, info alert!</div>
                                                                               <div class=""alert alert-light alert-solid"" role=""alert"">This is a solid, light alert!</div>
                                                                               <div class=""alert alert-dark alert-solid"" role=""alert"">This is a solid, dark alert!</div>")</code></pre>
                                    </div>
                                    <div class="tab-pane" id="alertsSolidPug" role="tabpanel" aria-labelledby="alertsSolidPugTab">
                                        <pre class="language-pug"><code>.alert.alert-primary.alert-solid(role='alert')
    | This is a solid, primary alert!
.alert.alert-secondary.alert-solid(role='alert')
    | This is a solid, secondary alert!
.alert.alert-success.alert-solid(role='alert')
    | This is a solid, success alert!
.alert.alert-danger.alert-solid(role='alert')
    | This is a solid, danger alert!
.alert.alert-warning.alert-solid(role='alert')
    | This is a solid, warning alert!
.alert.alert-info.alert-solid(role='alert')
    | This is a solid, info alert!
.alert.alert-light.alert-solid(role='alert')
    | This is a solid, light alert!
.alert.alert-dark.alert-solid(role='alert')
    | This is a solid, dark alert!</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                Append the
                                <code>.alert-solid</code>
                                class to any alert to get a custom solid state color instead of the default low contrast color. Any of the other alert content options, including custom icon alerts, are supported with the solid alert styles.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Extended Alert Colors-->
            <div id="colors">
                <div class="card mb-4">
                    <div class="card-header">Extended Alert Colors</div>
                    <div class="card-body">
                        <!-- Custom Alert Colors with Default Alert Styling-->
                        <h6 class="small text-muted fw-500">Custom Colors with Default Alerts:</h6>
                        <div class="sbp-preview mb-4">
                            <div class="sbp-preview-content">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="alert alert-red" role="alert">This is a red alert.</div>
                                        <div class="alert alert-orange" role="alert">This is a orange alert.</div>
                                        <div class="alert alert-yellow" role="alert">This is a yellow alert.</div>
                                        <div class="alert alert-green" role="alert">This is a green alert.</div>
                                        <div class="alert alert-teal mb-0" role="alert">This is a teal alert.</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="alert alert-cyan" role="alert">This is a cyan alert.</div>
                                        <div class="alert alert-blue" role="alert">This is a blue alert.</div>
                                        <div class="alert alert-indigo" role="alert">This is a indigo alert.</div>
                                        <div class="alert alert-purple" role="alert">This is a purple alert.</div>
                                        <div class="alert alert-pink mb-0" role="alert">This is a pink alert.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="alertsExtendedTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="alertsExtendedHtmlTab" data-bs-toggle="tab" href="#alertsExtendedHtml" role="tab" aria-controls="alertsExtendedHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="alertsExtendedPugTab" data-bs-toggle="tab" href="#alertsExtendedPug" role="tab" aria-controls="alertsExtendedPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="alertsExtendedHtml" role="tabpanel" aria-labelledby="alertsExtendedHtmlTab">
                                        <pre class="language-markup"><code>@(@"<div class=""alert alert-red"" role=""alert"">This is a red alert.</div>
                                                                               <div class=""alert alert-orange"" role=""alert"">This is a orange alert.</div>
                                                                               <div class=""alert alert-yellow"" role=""alert"">This is a yellow alert.</div>
                                                                               <div class=""alert alert-green"" role=""alert"">This is a green alert.</div>
                                                                               <div class=""alert alert-teal"" role=""alert"">This is a teal alert.</div>
                                                                               <div class=""alert alert-cyan"" role=""alert"">This is a cyan alert.</div>
                                                                               <div class=""alert alert-blue"" role=""alert"">This is a blue alert.</div>
                                                                               <div class=""alert alert-indigo"" role=""alert"">This is a indigo alert.</div>
                                                                               <div class=""alert alert-purple"" role=""alert"">This is a purple alert.</div>
                                                                               <div class=""alert alert-pink"" role=""alert"">This is a pink alert.</div>")</code></pre>
                                    </div>
                                    <div class="tab-pane" id="alertsExtendedPug" role="tabpanel" aria-labelledby="alertsExtendedPugTab">
                                        <pre class="language-pug"><code>.alert.alert-red(role='alert') This is a red alert.
.alert.alert-orange(role='alert') This is a orange alert.
.alert.alert-yellow(role='alert') This is a yellow alert.
.alert.alert-green(role='alert') This is a green alert.
.alert.alert-teal(role='alert') This is a teal alert.
.alert.alert-cyan(role='alert') This is a cyan alert.
.alert.alert-blue(role='alert') This is a blue alert.
.alert.alert-indigo(role='alert') This is a indigo alert.
.alert.alert-purple(role='alert') This is a purple alert.
.alert.alert-pink(role='alert') This is a pink alert.
</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">SB Admin Pro's expanded color system allows you to use the non-contextual colors in the same way as Bootstrap's colors.</div>
                        </div>
                        <!-- Custom Alert Colors with Solid Alert Styling-->
                        <h6 class="small text-muted fw-500">Custom Colors with Solid Alerts:</h6>
                        <div class="sbp-preview">
                            <div class="sbp-preview-content">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="alert alert-red alert-solid" role="alert">This is a red alert.</div>
                                        <div class="alert alert-orange alert-solid" role="alert">This is a orange alert.</div>
                                        <div class="alert alert-yellow alert-solid" role="alert">This is a yellow alert.</div>
                                        <div class="alert alert-green alert-solid" role="alert">This is a green alert.</div>
                                        <div class="alert alert-teal alert-solid mb-0" role="alert">This is a teal alert.</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="alert alert-cyan alert-solid" role="alert">This is a cyan alert.</div>
                                        <div class="alert alert-blue alert-solid" role="alert">This is a blue alert.</div>
                                        <div class="alert alert-indigo alert-solid" role="alert">This is a indigo alert.</div>
                                        <div class="alert alert-purple alert-solid" role="alert">This is a purple alert.</div>
                                        <div class="alert alert-pink alert-solid mb-0" role="alert">This is a pink alert.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-code">
                                <!-- Code sample-->
                                <ul class="nav nav-tabs" id="alertsExtendedSolidTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active me-1" id="alertsExtendedSolidHtmlTab" data-bs-toggle="tab" href="#alertsExtendedSolidHtml" role="tab" aria-controls="alertsExtendedSolidHtml" aria-selected="true">
                                            <i class="fab fa-html5 text-orange me-1"></i>
                                            HTML
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="alertsExtendedSolidPugTab" data-bs-toggle="tab" href="#alertsExtendedSolidPug" role="tab" aria-controls="alertsExtendedSolidPug" aria-selected="false">
                                            <img class="img-pug me-1" src="assets/img/demo/pug.svg" />
                                            PUG
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes-->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="alertsExtendedSolidHtml" role="tabpanel" aria-labelledby="alertsExtendedSolidHtmlTab">
                                        <pre class="language-markup"><code>@(@"<div class=""alert alert-red alert-solid"" role=""alert"">This is a red alert.</div>
                                                                               <div class=""alert alert-orange alert-solid"" role=""alert"">This is a orange alert.</div>
                                                                               <div class=""alert alert-yellow alert-solid"" role=""alert"">This is a yellow alert.</div>
                                                                               <div class=""alert alert-green alert-solid"" role=""alert"">This is a green alert.</div>
                                                                               <div class=""alert alert-teal alert-solid"" role=""alert"">This is a teal alert.</div>
                                                                               <div class=""alert alert-cyan alert-solid"" role=""alert"">This is a cyan alert.</div>
                                                                               <div class=""alert alert-blue alert-solid"" role=""alert"">This is a blue alert.</div>
                                                                               <div class=""alert alert-indigo alert-solid"" role=""alert"">This is a indigo alert.</div>
                                                                               <div class=""alert alert-purple alert-solid"" role=""alert"">This is a purple alert.</div>
                                                                               <div class=""alert alert-pink alert-solid"" role=""alert"">This is a pink alert.</div>")</code></pre>
                                    </div>
                                    <div class="tab-pane" id="alertsExtendedSolidPug" role="tabpanel" aria-labelledby="alertsExtendedSolidPugTab">
                                        <pre class="language-pug"><code>.alert.alert-red.alert-solid(role='alert') This is a red alert.
.alert.alert-orange.alert-solid(role='alert') This is a orange alert.
.alert.alert-yellow.alert-solid(role='alert') This is a yellow alert.
.alert.alert-green.alert-solid(role='alert') This is a green alert.
.alert.alert-teal.alert-solid(role='alert') This is a teal alert.
.alert.alert-cyan.alert-solid(role='alert') This is a cyan alert.
.alert.alert-blue.alert-solid(role='alert') This is a blue alert.
.alert.alert-indigo.alert-solid(role='alert') This is a indigo alert.
.alert.alert-purple.alert-solid(role='alert') This is a purple alert.
.alert.alert-pink.alert-solid(role='alert') This is a pink alert.
</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="sbp-preview-text">
                                Use the
                                <code>.alert-solid</code>
                                class to utilize custom solid alert colors with the expanded color system.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bootstrap Docs Link-->
            <div class="card card-icon mb-4">
                <div class="row g-0">
                    <div class="col-auto card-icon-aside bg-secondary"><i class="me-1 text-white-50 fab fa-bootstrap"></i></div>
                    <div class="col">
                        <div class="card-body py-5">
                            <h5 class="card-title">Bootstrap Documentation Available</h5>
                            <p class="card-text">Alerts are a default component included with the Bootstrap framework. For more information on implementing, modifying, and extending the usage of alerts within your project, visit the official Bootstrap modal documentation page.</p>
                            <a class="btn btn-secondary btn-sm" href="https://getbootstrap.com/docs/4.4/components/alerts/" target="_blank">
                                <i class="me-1" data-feather="external-link"></i>
                                Visit Bootstrap Alerts Docs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sticky Nav-->
        <div class="col-lg-3">
            <div class="nav-sticky">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav flex-column" id="stickyNav">
                            <li class="nav-item"><a class="nav-link" href="#default">Default</a></li>
                            <li class="nav-item"><a class="nav-link" href="#content">Content</a></li>
                            <li class="nav-item"><a class="nav-link" href="#icons">Icon</a></li>
                            <li class="nav-item"><a class="nav-link" href="#solid">Solid</a></li>
                            <li class="nav-item"><a class="nav-link" href="#colors">Extended</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
